---
import Layout from '../layouts/Layout.astro';
import ContextAlert from '../components/ContextAlert.astro';
import Markdown from '../components/Markdown.astro';
import VoteForm from '../components/VoteForm.tsx';

const explainer = `
Input your expected vote shares for all parties on both the List and the Constituency to see how many seats they’d win. Just make sure the numbers sum to 100%. 

List seats are awarded after constituency seats to create a more proportional parliament.
`;
---

<Layout title="Scotland Election Projections">
    <ContextAlert class="mb-4" />
    <h1 class="mb-10">Scotland Election Projections</h1>
    <Markdown content={explainer} class="text-lg mb-10" />
    <VoteForm client:load />
    <p class="mb-8"></p>
</Layout>
