---
import Layout from '../layouts/Layout.astro';
import ContextAlert from '../components/ContextAlert.astro';
import Markdown from '../components/Markdown.astro';
import data from '../data/scotland_constituency_results_2021.json';
import data from '../data/scotland_list_results_2021.json';

const explainer = `
add explainer here
`;
---

<Layout title="Welcome to Astro.">
    <ContextAlert class="mb-4" />
    <h1 class="mb-10">Devolved Election Projections</h1>
    <Markdown content={explainer} class="text-lg mb-10" />
    <p class="mb-8">
        <a href="https://docs.netlify.com/frameworks/astro/" class="btn btn-lg btn-primary sm:btn-wide">Read the Docs</a>
    </p>
</Layout>
